@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 36pt;
    text-align: center;
    text-indent: 0
    }
.calibre5 {
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.2em
    }
.cen {
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.75em;
    text-align: center;
    text-indent: 0
    }
.cen1 {
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.fusnota {
    font-size: 0.58333em;
    line-height: normal;
    vertical-align: super
    }
.lijevo {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24pt;
    text-align: left;
    text-indent: 0
    }
.lijevo1 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.lijevo2 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.napomena {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0;
    vertical-align: super
    }
.scene {
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.75em;
    text-align: justify;
    text-indent: 1.2em
    }
.sli {
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 0;
    padding-top: 1em;
    text-align: left;
    text-indent: 0
    }
.txt {
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 1.2em;
    margin-right: 0;
    margin-top: 1.75em;
    text-align: justify;
    text-indent: 1.2em
    }
.pcalibre:link {
    color: red
    }

